<div class="alert alert-info">
    Drop some <strong>image files</strong> to begin asciification!
</div>

<div class="alert alert-danger">
    Nope! Didn't find any <strong>images</strong> in that.
</div>

<div class="application-outlet" {{bind-attr style="view.backgroundImage"}}>
    {{partial "github-ribbon"}}
    {{ outlet }}
</div>
<div class="drop-skrim"></div>
