<div class="alert alert-info">
    Drop some <strong>image files</strong> to begin asciification!
</div>

<div class="alert alert-danger">
    Nope! Couldn't find any <strong>images</strong> there.
</div>

<div class="application-outlet" {{bind-attr style="view.backgroundImage"}}>
    {{ outlet }}
</div>
