<div class="splash-content">
    <h2>Image Asciifier</h2>

    <p>
        Convert any image into <a target="_new" href="http://youtube-global.blogspot.com/2010/03/textp-saves-youtube-bandwidth-money.html">TEXTp</a> ascii art.
    </p>

    <div class="input-container">
        <div class="btn btn-success btn-lg btn-block">Select or drag files from desktop!</div>
        <input type="file" multiple />
    </div>

    <div class="about-footer">
        {{#link-to 'about' class="btn btn-link btn-block"}}what's all this, then?{{/link-to}}
    </div>
</div>

