<div class="unsupported-container">
    <div class="content">
        <h3>Sorry. This browser/platform is</h3>
        <h1><strong>unsupported</strong></h1>

        <p>
            It takes time to make sure web apps work in every browser imaginable. I'd rather spend that time doing something else.
        </p>

        <p>Please use this application on a non-mobile device in either the latest <strong><a target="_new" href="https://www.google.com/chrome/browser/">Chrome</a></strong>, <strong><a target="_new" href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a></strong>, <strong><a target="_new" href="https://www.apple.com/safari/">Safari</a></strong>, or <strong><a target="_new" href="http://www.opera.com">Opera</a></strong>, or <strong><a target="_new" href="http://windows.microsoft.com/en-us/internet-explorer/ie-11-worldwide-languages">Internet Explorer 11</a></strong>.
        </p>
    </div>
</div>
